<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:supportsRtl="true"
        android:theme="@style/Theme.BaseTheme.Tourism"/>

</manifest>